USE [master]
GO
/****** Object:  Database [ AFILIADOS_{NOMBRE_CANDIDATO} ]    Script Date: 01/04/2021 12:11:18 ******/
CREATE DATABASE [ AFILIADOS_{NOMBRE_CANDIDATO} ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N' AFILIADOS_{NOMBRE_CANDIDATO} ', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ AFILIADOS_{NOMBRE_CANDIDATO} .mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N' AFILIADOS_{NOMBRE_CANDIDATO} _log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ AFILIADOS_{NOMBRE_CANDIDATO} _log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ AFILIADOS_{NOMBRE_CANDIDATO} ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ AFILIADOS_{NOMBRE_CANDIDATO} ]
GO
/****** Object:  Table [dbo].[AFILIADOS]    Script Date: 01/04/2021 12:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AFILIADOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[fechanacimiento] [varchar](16) NULL,
	[sexo] [varchar](60) NULL,
	[cedula] [varchar](16) NULL,
	[numeroseguridadsocial] [int] NULL,
	[fecharegistro] [varchar](16) NULL,
	[montoconsumido] [int] NULL,
	[idestatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estatus]    Script Date: 01/04/2021 12:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estatus](
	[id] [int] NOT NULL,
	[estatus] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estatuss]    Script Date: 01/04/2021 12:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estatuss](
	[id] [int] NOT NULL,
	[estatus] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[planes]    Script Date: 01/04/2021 12:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[planes](
	[id] [int] NOT NULL,
	[tipoplan] [varchar](50) NULL,
	[montocobertura] [int] NULL,
	[fecharegistro] [datetime] NULL,
	[estatus] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Klk]    Script Date: 01/04/2021 12:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[Klk]
  
 as 
 SELECT montoconsumido  FROM AFILIADOS WHERE id=1
GO
USE [master]
GO
